{% load static %}

<head>

<link rel="stylesheet" type="text/css" href="{% static 'surveys/style.css' %}">	
	
<meta charset="UTF-8">
<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Aleo" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet">


</head>


<header>
  <nav>  
  <img src="{% static "surveys/logo.png" %}" id="logo">   

  {% if user.is_authenticated %}
  <ul>
    <li><a href="{% url 'logout' %}">logout</a></li>
    <li><a href="{% url 'surveys:faq' %}">faq</a></li>
    <li><a class="navlinks" href="{% url 'surveys:index' %}">my feedback</a></li>
  </ul>
  {% endif %}
  </nav>
</header>

<main>


	{% block content %}
	{% endblock %}


</main>
