{% load static %}



  <link rel="stylesheet" type="text/css" href="{% static 'surveys/style.css' %}">
<header>
  <nav>
    
    	<img src="https://zenacardman.files.wordpress.com/2018/12/turtle_feedback_icon_4.png" id="logo">   

      {% if user.is_authenticated %}

		    <ul>
  			  <li><a href="{% url 'logout' %}">logout</a></li>
  			  <li><a href="{% url 'surveys:faq' %}">faq</a></li>
      	  <li><a class="navlinks" href="{% url 'surveys:index' %}">my feedback</a></li>
		  </ul>

  </nav>
</header>
{% endif %}

{% block content %}
{% endblock %}

