{% load static %}

<head>

<link rel="stylesheet" type="text/css" href="{% static 'surveys/style.css' %}">	
	
<meta charset="UTF-8">
<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Aleo" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">


</head>


<header>
  <nav>
    
    	<img src="https://zenacardman.files.wordpress.com/2018/12/turtle_feedback_icon_4.png" id="logo">   

      {% if user.is_authenticated %}

		    <ul>
  			  <li><a href="{% url 'logout' %}">logout</a></li>
  			  <li><a href="{% url 'surveys:faq' %}">faq</a></li>
      	  <li><a class="navlinks" href="{% url 'surveys:index' %}">my feedback</a></li>
		  </ul>

  </nav>
</header>
{% endif %}

<main>
	<body>

	{% block content %}
	{% endblock %}

	</body>
</main>
