{% extends "base.html" %}

{% block content %}
<h3>{{ survey.title }}</h3>

{% if survey.due_date %}
(Due {{ survey.due_date }})
{% endif %}

<p>
{% if survey_complete %}
  <div style="color:green;">
  Thank you for completing all required feedback.
  {% if optionals %}
    You may continue to provide feedback to anyone below, if desired.
  {% endif %}
  </div>
{% else %}
  Please submit feedback for the following people:
{% endif %}
</p>

<table style="text-align:left;">
  <th>Name</th>
  <th>Complete</th>
  {% for assignment in assignments %}
  {% with assignment.recipient as recipient %}
  <tr>
    <td>
      <a href="{% url 'surveys:form_fill' survey.pk assignment.recipient.pk %}">
        {{ recipient.get_full_name | default:recipient.get_username }}</a>
    </td>
    <td>{% if assignment.complete %}&#x2714{% endif %}</td>
  </tr>
  {% endwith %}
  {% endfor %}
  {% for optional_recipient in optionals %}
  <tr>
    <td>
      <a href="{% url 'surveys:form_fill' survey.pk optional_recipient.pk %}">
      {% if optional_recipient.get_full_name %}
        {{ optional_recipient.get_full_name }}
      {% else %}
        {{ optional_recipient.get_username }}
      {% endif %}
      </a>
    </td>
    <td>optional</td>
  </tr>
  {% endfor %}
</table>

<p><a href="{% url 'surveys:index' %}">Back to survey index</a></p>
{% endblock %}
