{% extends 'base.html' %}

{% block content %}
  <h3>FAQ</h3><br>
  <p>
  <b>Why should feedback be anonymous, anyway?</b><br><br>
That's a great question. The purpose of this site is simply to enable true anonymity, when it is desired by a team.
  </p><br>
  <p>
  <b>Why do I need to install special software?</b><br><br>
To jumble up the order of feedback responses and keep them anonymous, we need to store them on a server. We don't want <i>anyone</i>, including site admins, to be able to read this feedback, so we store it encrypted. To read it, you decrypt it locally on your computer using your secret private key. This ensures you are the only person who can read your personal feedback.
  </p><br>
  <p>
  <b>How is my data kept safe?</b><br><br>
  Feedback text that you author is sent to the server via a Secure
  <a href="https://en.wikipedia.org/wiki/HTTPS"> HTTPS Socket</a>,
  where it is encrypted using
  <a href="https://en.wikipedia.org/wiki/Public-key_cryptography">
  Public-key_cryptography</a>.
  It is stored in this encrypted form until results are published.
  The only person who can decrypt it is the recipient, using their private key.
  </p>
{% endblock %}
