{% extends "base.html" %}

{% block content %}

{% if survey.results_published %}
Results have already been published. This survey is closed.
{% else %}
<form
  action="{% url 'surveys:form_fill' survey.id rkuser.pk %}"
  method="post">
    {% csrf_token %}
    Please enter feedback for
    {{ rkuser.first_name | default:rkuser }}:
    <table>
        {% for form in forms %}
            {{ form.as_p }}
        {% endfor %}
    </table>
  <input type="submit" value="Submit">
</form>
{% endif %}

{% endblock %}
