{% extends "base.html" %}

{% block content %}
{% if survey_list %}
    <table cellpadding="8px">
    {% for survey in survey_list %}
    <tr>
      <th>{{ survey.title }}</th>
      <td><a href="{% url 'surveys:detail' survey.id %}">
          enter feedback</a></td>
      <td>
      {% if survey.results_published %}
      <a href="{% url 'surveys:results' survey.id %}">
          my results</a>
      {% else %}
      (results not yet published)
      {% endif %}
      </td>
    </tr>
    {% endfor %}
    </table>
{% else %}
    <p>Thanks for signing up. The first survey will be posted soon.</p>
{% endif %}
{% endblock %}
