{% extends 'base.html' %}
{% load static %}

{% block content %}
  <h2>Sign up</h2>
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
        <i>{{ field.help_text }}</i>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <button type="submit">Sign up</button>
  </form>
  <h3>How to obtain a GPG public key</h3>
  <p>
  To sign up, you will need to install GPG on your computer.
  To understand why, please read our FAQ at the bottom of this page.
  </p>
  <b>GPG installation instructions (Mac OSX)</b><br>
  These roughly follow <a href="ihttp://notes.jerzygangi.com/the-best-pgp-tutorial-for-mac-os-x-ever/">this detailed tutorial</a>.
  You'll need OS X 10.12 or higher.
  <ol>
    <li>Download <a href="https://gpgtools.org/">GPG Suite</a>.</li>
    <li>Open the downloaded .dmg file and double-click the <i>Install</i> icon to run. <b>Important:</b> on the <i>Installation Type</i> page, click the <i>Customize</i> button, and <b>uncheck "GPGMail"</b> to avoid requests for money. Then continue the installation.</li>
    <li>A popup may request access to your contacts. Access is not required.</li>
    <li>Generate a new keypair. Use your real name and an e-mail address you have access to.</li>
    <li><i>Important: </i>Do not forget your passphrase. There is <b>no way to recover it</b>. Without it, you will be unable to decrypt your feedback.</li>
    <li>In the <i>GPG Keychain</i> window, select the row containing your new key, as shown in the screenshot below.<br/>
    <img src="{% static "surveys/gpg-select-key.png" %}" width=700px>
    </li>
    <li>Press command-C to copy the public key. Paste this into the field above. The output will look similar to the screenshot below. You can now sign up!<br/>
    <img src="{% static "surveys/pasted-key.png" %}" width=300px>
    </li>
  </ol>
  <h3>FAQ</h3>
  <p>
  <b>Why should our feedback be anonymous, anyway?</b></br>
  It often shouldn't be. We are agnostic, and see merits both ways. The purpose of this site is simply to enable true anonymity, when that is desired.
  </p>
  <p>
  <b>Why do I need to install special software?</b><br>
  In order to jumble up feedback responses and make them anonymous, we need to store them on a server. We don't want <i>anyone</i>, including site admins, to be able to read this feedback, so we store it encrypted. In order to read it, you decrypt it locally on your computer using your secret private key. This ensures you are the only person who can read your personal feedback.
  </p>
  <p>
  <b>How is my data kept safe?</b></br>
  Feedback text that you author is sent to the server via a Secure
  <a href="https://en.wikipedia.org/wiki/HTTPS"> HTTPS Socket</a>,
  where it is immediately encrypted using
  <a href="https://en.wikipedia.org/wiki/Public-key_cryptography">
  Public-key_cryptography</a>.
  It is stored in this encrypted form until results are published.
  The only person who can decrypt it is the recipient, using their private key.
  </p>
{% endblock %}
