{% extends 'base.html' %}
{% load static %}

{% block content %}
  <h2>Sign up</h2>
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          {{ field.help_text }}
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <button type="submit">Sign up</button>
  </form>
  <h3>How to obtain a GPG public key</h3>
  <p>
  To sign up, you will need to install GPG on your computer.
  To understand why, please read our <a href="{% url 'surveys:faq' %}">FAQ</a>.
  </p>

  <b>GPG installation instructions (Recommended option for either Windows or OSX)</b><br>
  We'll install Mailvelope, an in-browser extension that supports GPG. You'll need a current version of either Firefox or Chrome.
  <ol>
    <li>Go to <a href="http://www.mailvelope.com">http://www.mailvelope.com</a> in Firefox and click to install the Firefox Addon.</li>
    <li>When the small popup appears, click <i>Allow</i> or <i>Add</i> as prompted.</li>
    <li>In the upper right corner of your browser, on the toolbar, click the Mailvelope icon, then click <i>Keyring</i>.</li>
    <li>Click <i>Generate Key</i>.</li>
    <li>Enter your real name and an e-mail address that you have access to.</li>
    <li><b>Important</b>: do not forget your password. If you lose it, you will be forever unable to decrypt your feedback.</li>
    <li>Uncheck <i>Upload public key to Mailvelope Key Server</i>. Click <i>Generate</i>.</li>
    <li>Refresh the page. In the upper right corner of your browser, click the Mailvelope icon, then click <i>Keyring</i>. Click on the key you just created. You may need to refresh for it to appear.
    <img src="{% static "surveys/mailvelope-key.png" %}" width=600px>
    </li>
    <li>On the <i>Export</i> tab, copy the text of your key and paste into the field above. The output will look similar to the screenshot below. You can now sign up!
    <img src="{% static "surveys/pasted-key.png" %}" width=300px>
    </li>
  </ol>

  <b>GPG installation instructions (alternate option for Mac OSX)</b><br>
  These roughly follow <a href="ihttp://notes.jerzygangi.com/the-best-pgp-tutorial-for-mac-os-x-ever/">this detailed tutorial</a>.
  You'll need OS X 10.12 or higher.
  <ol>
    <li>Download <a href="https://gpgtools.org/">GPG Suite</a>.</li>
    <li>Open the downloaded .dmg file and double-click the <i>Install</i> icon to run. <b>Important:</b> on the <i>Installation Type</i> page, click the <i>Customize</i> button, and <b>uncheck "GPGMail"</b> to avoid requests for money. Then continue the installation.</li>
    <li>A popup may request access to your contacts. Access is not required.</li>
    <li>Generate a new keypair. Use your real name and an e-mail address you have access to.</li>
    <li><i>Important: </i>Do not forget your passphrase. There is <b>no way to recover it</b>. Without it, you will be unable to decrypt your feedback.</li>
    <li>In the <i>GPG Keychain</i> window, select the row containing your new key, as shown in the screenshot below.<br/>
    <img src="{% static "surveys/gpg-select-key.png" %}" width=700px>
    </li>
    <li>Press command-C to copy the public key. Paste this into the field above. The output will look similar to the screenshot below. You can now sign up!<br/>
    <img src="{% static "surveys/pasted-key.png" %}" width=300px>
    </li>
  </ol>
{% endblock %}
