# fonts #

textarea {display:block !important;}
body {font-family: Arial !important;}
h2 {font-family: Arial !important;}
h3 {font-family: Arial !important;}
h4 {font-family: Arial !important; font-size: 12px; font-weight: regular; display: block!important;}
p {font-family: Arial !important;}

