textarea {
    display:block;
    font-family: Arial !important;
}

body {
    color: blue; 
    font-family: Arial !important;
}

h2 {
    font-family: Arial !important;
}

p {
    font-family: Arial !important;
}

